.login-container {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  overflow: hidden; /* Prevent overflow */
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/login1.png'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  opacity: 0.5; /* Adjust opacity for fading effect */
  z-index: 1; /* Place it behind the content */
}

.app-name {
  margin-bottom: 7%;
  z-index: 2; /* Ensure this is above the background */
  position: relative; /* Position relative to the container */
}

/* Center the login box */
.login-box {
  
    /* Existing styles... */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */

  width: 30%;
  position: absolute;
  top: 50%; /* Move to the middle of the container */
  left: 50%; /* Move to the middle of the container */
  transform: translate(-50%, -50%); /* Center it by adjusting its position */
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2; /* Ensure this is above the background */

  background-color: white; /* Card background color */
  border-radius: 15px; /* Rounded corners */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); Shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Padding inside the card */
}


.login-btn-container {
  width: 95%;
  margin-top: 5%;
}

.login-btn {
  width: inherit;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10%;
  background: #810055 0% 0% no-repeat padding-box !important;
  border-color: #810055 !important;
  border-radius: 50px !important;
  color: aliceblue;
  height: 50px;
  cursor: pointer;
}

.login-system-text {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #810055;
  text-align: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 10%;
  width: 90%;
}

.login-input-label {
  padding-top: 17px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.login-input-field {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 2%;
  letter-spacing: 2px;
}