* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  /* padding: 0; */
}

/* .banking-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 150px;
    width: 80%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
  } */

.service-item{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 5%;
  margin: 5%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 80%;
  height: 80%;
  margin-top: 10px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 0.4fr));
  gap: 4.5rem;
  margin-top: 140px;
  margin-left: 80px;
  margin-right: 80px;
}



.bank-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #e9e6e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: solid;
  flex-direction: column;
  height: 80%;
  width: 80%;
}
.bank-container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.bank-container img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.bank-container p {
  text-decoration: solid;
  font-weight: 1000;
  font-size: large;
  color: #333;
}

/* .service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  margin-top: 190px;
} */

/* .search-bar {
  flex-grow: 1;
  margin: 0 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
} */

/* .search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
} */

/* Services Grid */
/* .services-container {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  min-height: 100vh;
} */

/* .service-button {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


/* 
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

.service-button img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.service-button:hover {
  background-color: #0056b3;
} */



