.footer {
    
  background-color: #2f6624; 
  /* background: linear-gradient(to right, #2aa312, #a6c680); */
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
    /* width: 170%;
    position:fixed; */


    /* background-color: #1e3a8a; 
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: auto; */
  /* }
  
  .footer p {
    margin: 0;
  } */