/* Main Content */
.content {
  flex: 1;
  padding-top: 5rem;
  padding-left: 24rem;
  padding-right: 20rem;
  text-align: center;
  background-image:radial-gradient(circle, #d2d1d1, #fcfcf8);
  min-height: 70vh; 
}

/* Services Container */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Service Box Styling */
.service-item {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px; /* Adjust width */
  height: 300px; /* Adjust height */
  border-radius: 10px;
  background: linear-gradient(to right, #cccdca, #b1d29b); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  padding: 20px;
}

/* Image Styling */
.service-item img {
  width: 170px; /* Adjust size */
  height: 170px;
  background: transparent; /* Ensure no background */
}

/* Text Styling */
.service-item p {
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 0, 0); /* White text for contrast */
  margin-top: 30px;
}

/* Active State */
.service-item.active {
  opacity: 1;
  transform: scale(1.1);
}

/* Hidden State */
.service-item.hidden {
  display: none;
}

.service-item a{
  text-decoration: none;
  text-transform:uppercase;
}